<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.mapbox.mapboxsdk.activity">

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="MapboxGLAndroidActivityApp"
            android:theme="@android:style/Theme.Holo" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.mapbox.mapboxsdk.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>